
.faind___container_body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    color: black;
}

.faind___toolbar{
    position: flex;
    z-index: 2;
}

.faind___mat-sidenav-container{
    flex:1;
    margin-top: 0px;
}
h1{
    color: rgb(2, 2, 2);
    size: 30px;
}
.menu{
    color: blueviolet;
}
/* .foot{
    color: whitesmoke !important;
    text-align: center !important;
} */